<div class="sidebar">
  <h1 {{bindAttr class="controllers.categories.id :label-box"}}>{{controllers.categories.label}}</h1>

  <div class="col">

    <nav class="nav clearfix">
      <div class="app-nav">
        {{#link-to "index"}}Home{{/link-to}}
        {{#link-to "exercises.index" controllers.categories}}Exercises{{/link-to}}
      </div>

      {{#if prevExercise}}
        {{#link-to "exercise" prevExercise classNames="button mini" rel="prev"}}prev{{/link-to}}
      {{else}}
        <button class="button mini" disabled="disabled" rel="prev">prev</button>
      {{/if}}

      <div class="pagination">
        <p>{{id}} <small>of</small> {{allExercises.length}}</p>

        {{view App.ExerciseSelectView
          contentBinding="allExercises"
          optionLabelPath="content.id"
          optionValuePath="content.id"
          currentExerciseIdBinding="id"
          prompt=" "
        }}
      </div>

      {{#if nextExercise}}
        {{#link-to "exercise" nextExercise classNames="button mini" rel="next"}}next{{/link-to}}
      {{else}}
        <button class="button mini" disabled="disabled" rel="next">next</button>
      {{/if}}
    </nav>

    <section class="instructions">
      {{{instructions}}}
    </section>

    {{partial footer}}
  </div>
</div>
