<div class="sidebar">
  <h1 {{bindAttr class="controllers.categories.id :label-box"}}>{{controllers.categories.label}}</h1>

  <div class="col">

    <section class="instructions">
      {{{instructions}}}
    </section>

    <nav class="nav clearfix">
      {{#if prevExercise}}
        {{#link-to "exercise" prevExercise classNames="button mini" rel="prev"}}prev{{/link-to}}
      {{else}}
        <button class="button mini" disabled="disabled" rel="prev">prev</button>
      {{/if}}

      <div class="pagination">
        <p>{{id}} <small>of</small> {{allExercises.length}}</p>
        <select>
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>

      {{#if nextExercise}}
        {{#link-to "exercise" nextExercise classNames="button mini" rel="next"}}next{{/link-to}}
      {{else}}
        <button class="button mini" disabled="disabled" rel="next">next</button>
      {{/if}}

      <div class="app-nav">
        <a href="#">Home</a>
        <a href="#">Exercises</a>
      </div>
    </nav>

    {{partial footer}}
  </div>
</div>
